# Regresyon Analizi

Bir tane sonuç değişkenimiz var. (Bağımsız)

Birde bunu açıklamaya yardımcı bağımlı değişkenler var.

Doğrusal Regresyon : 

y = B0 + B1x1 + €1

B0, B1 = katsayılar

€1 = hata oranı

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import pylab
import scipy 

import statsmodels.stats.api as sms

import statsmodels.api as sm
import scipy.stats as stats

import matplotlib.pyplot as plt

from scipy import stats
from matplotlib.pyplot import plot
from scipy.stats import shapiro


from scipy import stats

## Veri okuma inceleme

In [19]:
df = pd.read_excel("hw_data_set.xlsx")
df.head()

,ind_5,ind_6,ind_8,ind_9,ind_10,ind_12,ind_13,ind_14,ind_15,ind_16,...,ind_416,ind_418,ind_420,ind_422,ind_424,ind_426,ind_428,20_target,50_target,90_target
0,19,17,100.0,85.714286,14.285714,72.363515,60.808814,23.80,17.62,11.73,...,-49.6,-54,-152,-353,1.0,0.498547,0.701906,15.135802,35.625252,36.997753
1,24,19,100.0,78.571429,21.428571,74.275883,64.366798,11.45,18.16,12.22,...,-55.6,-60,-158,-359,1.0,0.537088,0.690833,15.143348,35.643013,37.016198
2,30,24,100.0,71.428571,28.571429,75.140402,65.915803,8.75,17.86,12.28,...,-58.4,-60,-160,-362,1.0,0.615169,0.693040,15.146870,35.651301,-37.024805
3,37,30,100.0,64.285714,35.714286,76.677846,68.584234,7.80,14.76,12.61,...,-61.8,-65,-166,-367,1.0,0.661517,0.673418,15.153283,0.000000,-37.040483
4,41,37,100.0,57.142857,42.857143,81.603007,76.455495,14.90,11.92,14.25,...,-79.8,-86,-186,-388,1.0,0.747204,0.700522,-15.179065,-35.727079,-37.103503

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6167 entries, 0 to 6166
Columns: 136 entries, ind_5 to 90_target
dtypes: float64(88), int64(45), object(3)
memory usage: 6.4+ MB

In [23]:
df.shape

(6167, 136)

In [24]:
df.describe()

,ind_5,ind_6,ind_8,ind_9,ind_10,ind_12,ind_13,ind_14,ind_15,ind_16,...,ind_412,ind_414,ind_416,ind_418,ind_424,ind_426,ind_428,20_target,50_target,90_target
count,6167.000000,6167.000000,6167.000000,6167.000000,6167.000000,6167.000000,6167.000000,6167.000000,6167.000000,6167.000000,...,6167.000000,6167.000000,6167.000000,6167.000000,6167.000000,6167.000000,6167.000000,6167.000000,6167.000000,6167.000000
mean,-0.803146,-0.803470,48.388890,48.289282,0.099609,49.488867,-18.497518,11.771485,11.773550,11.773392,...,0.000224,28.529204,-8.554792,-28.166694,0.490297,0.498188,0.490174,-0.057102,-2.906358,-3.315072
std,23.624403,23.624144,36.388526,36.478009,60.414625,12.198722,68.281120,6.803997,5.786089,4.970499,...,0.005660,26.316896,16.100087,23.271524,0.425376,0.228547,0.150483,14.834497,34.559778,36.841541
min,-131.000000,-131.000000,0.000000,0.000000,-100.000000,12.134540,-625.093855,1.050000,1.660000,2.580000,...,-0.023790,0.000000,-103.800000,-188.000000,0.000000,0.000000,0.083530,-15.780588,-37.142889,-38.573858
25%,-14.000000,-14.000000,14.285714,14.285714,-50.000000,40.868503,-45.687212,6.850000,7.260000,7.635000,...,-0.003230,10.700000,-11.700000,-39.000000,0.000000,0.323783,0.379894,-15.350354,-36.208094,-37.695273
50%,0.000000,0.000000,50.000000,50.000000,0.000000,49.549766,-2.817298,10.550000,11.040000,11.270000,...,-0.000053,21.300000,0.000000,-22.000000,0.473684,0.495192,0.487078,0.000000,-34.267756,-35.788391
75%,13.000000,13.000000,85.714286,85.714286,57.142857,58.504375,28.072613,14.950000,15.040000,14.960000,...,0.003414,38.400000,0.000000,-11.000000,1.000000,0.675730,0.601508,15.385945,35.879524,37.521892
max,76.000000,76.000000,100.000000,100.000000,100.000000,84.821848,81.105847,82.900000,54.240000,37.050000,...,0.023340,281.800000,0.000000,0.000000,1.000000,1.000000,0.868534,15.768767,37.038694,38.465649

In [25]:
# nul değer olup olmadıgına bakma
df.isnull().values.any()

False

In [26]:
df.dtypes

ind_5          int64
ind_6          int64
ind_8        float64
ind_9        float64
ind_10       float64
              ...
ind_426      float64
ind_428      float64
20_target    float64
50_target    float64
90_target    float64
Length: 136, dtype: object

## Verideki kategorik değişkenlere bakma

In [27]:
df=df.select_dtypes(include=["object"])
df.head()

  ind_109 ind_420 ind_422
0   GREEN    -152    -353
1   GREEN    -158    -359
2   GREEN    -160    -362
3   GREEN    -166    -367
4   GREEN    -186    -388

In [28]:
df.groupby("ind_420").count().tail(1)
df.groupby("ind_422").count().tail(1)

         ind_109  ind_420
ind_422
?           1041     1041

### Korelasyona bakma

In [29]:
df.corr()

Empty DataFrame
Columns: []
Index: []

In [ ]:
df.corr()["20_target"].sort_values(ascending = False)

In [30]:
df.corr()['50_target'].sort_values(ascending = False)

KeyError: '50_target'

In [ ]:
df.corr()['90_target'].sort_values(ascending = False)

3 target değişkenin korelasyon sıralamasına bakarak en büyük değere sahip taget_50 olduğu gözlemlenmiştir.

In [18]:
# bu nedenle 20 ve 90 kaldırıldı

columns = ['20_target', '90_target']
df.drop(columns, inplace=True, axis=1)

KeyError: "['20_target' '90_target'] not found in axis"

In [ ]:
# If correlation is greater than 0.90 show the column
corr = df.corr() 

m = ~(corr.mask(np.eye(len(corr), dtype=bool)).abs() > 0.90).any()
raw = corr.loc[m, m]
raw

In [ ]:
column_list=[]
for i in raw:
    if i!='50_target':
        column_list.append(i)

In [ ]:
df.drop(column_list, inplace=True, axis=1)

In [ ]:
df.shape

### 50_target ve corelasyonu  0.90'dan küçük olanlar kaldı

In [ ]:
df.info

kategorik columnlara ve değer sayılarına bakma

In [ ]:
df.groupby("ind_109").count()

In [ ]:
sns.countplot("ind_109", data=df)

In [ ]:
import statsmodels.stats.api as sms
from scipy.stats import levene
from scipy.stats import shapiro
from scipy import stats

# İstatistik

In [ ]:
for col in df.columns[:]:           
    if df[col].dtypes != object:
        
        stat, p = shapiro(df[col])
        alpha = 0.05
        if p > alpha:
            print(col)
            print('Örneklem Normal dağılımdan gelmektedir')

##### Tüm veriler normal dağılımdan gelmemektedir.

In [ ]:
stats, p = shapiro(df["50_target"])
print('Statistics-%.3f, p=%.3f' % (stats,p))

p value < 0.05 

reject H0

Normal dağılımdan gelmiyor.

In [ ]:
stats, p = shapiro(df["ind_6"])
print('Statistics-%.3f, p=%.3f' % (stats,p))

p value < 0.05

reject H0

Normal dağılımdan gelmiyor.

## Data Visualization

##### Targets

In [ ]:
sns.distplot(df["20_target"])
plt.show()

In [ ]:
sns.distplot(df["50_target"])
plt.show()

In [ ]:
sns.distplot(df["90_target"])
plt.show()

##### QQ Plot

In [ ]:
import statsmodels.api as sm
sm.qqplot (df["20_target"], line= "s") 
pylab.show()

In [ ]:
import statsmodels.api as sm
sm.qqplot (df["50_target"], line= "s") 
pylab.show()

In [ ]:
import statsmodels.api as sm
sm.qqplot (df["90_target"], line= "s") 
pylab.show()

##  Regression

In [ ]:
df.head(2)

df["50_target"] = df["50_target"].replace("?", df["50_target"].mean)

df["ind_10"] = df["ind_10"].replace("?", df["ind_10"].mean)

In [ ]:
import statsmodels.api as sm
X = df[["ind_10"]]
X[0:5]
X=sm.add_constant(X) # sabit bir değer atıyor , b0 olarak
X[0:5]

y = df["50_target"]
y[0:5]

In [ ]:
df["50_target"]

In [ ]:
lm = sm.OLS(y.astype(float),X.astype(float))
model = lm.fit()
model.summary()

#####  train test split

In [ ]:
from sklearn.model_selection import train_test_split , cross_val_score, cross_val_predict

X = df.drop(labels="90_target",axis=1)
y = df["90_target"]

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = .2, random_state = 42)

In [ ]:
lm = sm.OLS(y_train,X_train)
model = lm.fit()
model.summary()

### Linear Reg

In [ ]:
from sklearn.linear_model import LinearRegression


reg = LinearRegression()
model = reg.fit(X,y)

In [ ]:
X_train.shape

In [ ]:
X_test.shape

In [ ]:
y_train.shape

In [ ]:
training = df.copy()
training.shape

In [ ]:
lm = sm.OLS(y_train , X_train)
model = lm.fit()

In [ ]:
model.summary()

##### # nasıl bir error dağılımı var hesaplamamız lazım

In [ ]:
influence = model.get_influence()
influence

In [ ]:
resid_student = influence.resid_studentized_external

import statsmodels.formula.api as smf

lm = smf.ols("ind_10 ~ 50_target",df)

In [ ]:
model =lm.fit()

In [ ]:
model.summary()

In [ ]:
fig, ax = plt.subplots(figsize=(25,20)

In [ ]:
df.groupby("ind_420").count()

In [ ]:
df['ind_420'] = [ 'A' if i==1 else 'B' for i in df['ind_420']]

In [ ]:
df.groupby("ind_420").count()

sns.pairplot(df['ind_5'],df['ind_6'],df['ind_12'],df['ind_13'], kind="reg") #fit linear regression models to the scatter plots:
sns.pairplot(df['ind_5'],df['ind_6'],df['ind_12'],df['ind_13'], kind="scatter")

sns.jointplot(x="50_target", y="ind_12", data=df, kind="reg")

In [ ]:
# remove this column

removeColumn = ['ind_18',]

In [ ]:
df = df.drop(df[raw], axis=1)

In [ ]:
df.head()

### Correlation

In [ ]:
# If correlation is greater than 0.75 remove the column


m = ~(corr.mask(np.eye(len(corr), dtype=bool)).abs() > 0.75).any()
raw = corr.loc[m, m]
raw

In [ ]:
corr = data.corr()

In [ ]:
sns.heatmap(corr)

In [ ]:
columns = np.full((corr.shape[0],), True, dtype=bool)
for i in range(corr.shape[0]):
    for j in range(i+1, corr.shape[0]):
        if corr.iloc[i,j] >= 0.80:
            if columns[j]:
                columns[j] = False
selected_columns = df.columns[columns]
df = df[selected_columns]