### Create Class for Data Review

Kodluyoruz Veri Bilimi 1. Ã¶dev

In [6]:
# import libraries 
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [47]:
class dataReview():
    
    def __init__(self,filename):
        
        data = pd.read_csv(filename)
        print("***** First 5 data ***** \n", data.head())
        print("\n ***** Last 5 data ***** \n", data.tail())
    
    def info():
        print("Data Info \n",data.info())
        print("Data Describe \n",data.describe())
        print(data.len())
        print(data.dtypes())
        
    
    def preprocessing():
        
        cleaning()
        featureEng()
        dummy_encoding()    
        
    def visualization():
        
        scatterPlot()
        boxPlot()
        histogramPlot()
        heatmapPlot()
        subplots

### Test with Titanic dataset

In [48]:
# create model

dataReview('Titanic.csv')

***** First 5 data *****
                                             Name PClass    Age     Sex  \
0                   Allen, Miss Elisabeth Walton    1st  29.00  female
1                    Allison, Miss Helen Loraine    1st   2.00  female
2            Allison, Mr Hudson Joshua Creighton    1st  30.00    male
3  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  25.00  female
4                  Allison, Master Hudson Trevor    1st   0.92    male

   Survived
0         1
1         0
2         0
3         0
4         1

 ***** Last 5 data *****
                         Name PClass   Age   Sex  Survived
1308      Zakarian, Mr Artun    3rd  27.0  male         0
1309  Zakarian, Mr Maprieder    3rd  26.0  male         0
1310        Zenni, Mr Philip    3rd  22.0  male         0
1311        Lievens, Mr Rene    3rd  24.0  male         0
1312          Zimmerman, Leo    3rd  29.0  male         0